.contato {
  background-color: #f9f9f9;
  box-shadow: 0 0 3px 3px rgba(0, 0, 0, 0.12);
  width: auto;
  margin-bottom: 18px;
  padding: 12px;
  display: flex;
  flex-flow: row;
  justify-content: space-between;
}
