body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
main {
  height: 100%;
  overflow: auto;
  display: flex;
  flex-flow: column;
  justify-items: start;
  padding: 21px;
}
.aplicacao {
  height: 100vh;
  display: flex;
  flex-flow: column;
  justify-content: space-between;
}
label {
  font-size: 1.2rem;
  font-weight: bold;
  margin-bottom: 9px;
}

input {
  margin-bottom: 18px;
  padding: 12px;
}
